body{
	
}
.header{
	background: url("../img/bg.jpg")no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 70%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
header{
	position: relative;
	padding: 20% 0 0 0;
	height: 85%;
}
.jumbotron{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 6px 6px 0 0 !important;
	margin-bottom: 0;
	height: 70%
}
nav{
	position: relative;
	min-height: 15%;
}