body {
	font-size: 16px;
	position: relative;
	font-family: 'Arapey', serif;
	/*font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Playfair Display SC', serif;
	
	font-family: 'Bad Script', cursive;
	font-family: 'Allura', cursive;*/
}
h1, h2, h3, h4, h5, h6{

	font-family: 'Rouge Script', cursive;
	margin: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.header{
	background: url("../img/bg.jpg")no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 485px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
header{
	
	height: 420px;
	padding: 150px 0 0 0;
}
header h1, .jumbotron h1{
	font-size: 60px;
}
header h2{
	font-size: 40px;
}
header h3{
	font-size: 30px;
}
.jumbotron{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0 !important;
	margin-bottom: 0;
	height: 270px;
	padding-top: 60px;
}
ul{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.navbar {
	margin-bottom: 0px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(166,166,166,1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(166,166,166,1);
	box-shadow: 1px 1px 3px 1px rgba(166,166,166,1);
}
.navbar-default {
    background-color: #c5a68c;
    border: 0;
}
.navbar-nav, .navbar-brand{
    margin: 7.5px;
}
.navbar-brand {
    font-size: 30px;
}
p {
    margin: 0;
}
.navbar-default .navbar-brand {
    color: #2d2d2d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2d2d2d;
}
.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #c5a68c;
}
.navbar-default .navbar-nav>li>a {
    color: #2d2d2d;
}
.navbar-default .navbar-collapse {
    border-color: #f7f7f7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #2d2d2d;
    background-color: #c5a68c;
    border: 1px solid #f7f7f7;
}
.navbar-toggle {
    padding: 16px 10px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}
.navbar-inverse .navbar-brand, .close{
    color: #e2e0e0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e2e0e0;
}
.close{
	opacity: 1;
}
.modal-content {
    background-color: #101010;
    color: #e2e0e0;
}
.description{
	color: #6d6c6c;
	height: 380px;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: justify;
	width: 340px;
}
.img-restaurant-left{
	width: 120px;
	float: left;
	margin-right: 5px;
}
.img-restaurant-right{
	width: 120px;
	float: right;
	margin-left: 5px;
}
#modalRest01, #modalRest02, #modalRest03{
	top: 70px;
}
.menu{
	background: url("../img/menu02.jpeg")no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 420px;
}
.menuList{
	float: left;
}
.jumbotron-menu{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
}
#map{
    height: 400px;
    width: 100%;
}
.contact{
	background: url("../img/footer02.jpeg")no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 420px;
	overflow: hidden;
}

@media (min-width: 768px){
	.navbar {
	    border-radius: 0;
	}
}