body {
	font-size: 16px;
	position: relative;
	font-family: 'Arapey', serif;
	/*font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Playfair Display SC', serif;
	
	font-family: 'Bad Script', cursive;
	font-family: 'Allura', cursive;*/
}
h1, h2, h3, h4, h5, h6{

	font-family: 'Rouge Script', cursive;
	margin: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.header{
	background: url("../img/bg.jpg")no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 485px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
header{
	
	height: 420px;
	padding: 150px 0 0 0;
}
header h1, .jumbotron h1{
	font-size: 60px;
}
header h2{
	font-size: 40px;
}
h3{
	font-size: 30px;
}
.jumbotron{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0 !important;
	margin-bottom: 0;
	height: 270px;
	padding-top: 60px;
}
ul{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.navbar {
	margin-bottom: 0px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(140,138,140,1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(140,138,140,1);
	box-shadow: 1px 1px 3px 1px rgba(140,138,140,1);
}
.navbar-default {
    background-color: #943432;
    border: 0;
}
.navbar-nav, .navbar-brand{
    margin: 7.5px;
}
.navbar-brand {
    font-size: 30px;
}
p {
    margin: 0;
}
.navbar-default .navbar-brand {
    color: #fdeaea;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdeaea;
}
.navbar-default .navbar-toggle {
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:active {
    background-color: #943432;
}
.navbar-default .navbar-nav>li>a {
    color: #fdeaea;
}
.navbar-default .navbar-collapse {
    border-color: #e3bebe;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fdeaea;
    background-color: #943432;
}

.navbar-toggle {
    padding: 16px 10px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}
.navbar-inverse .navbar-brand, .close{
    color: #fdeaea;
}
.close{
	opacity: 1;
}
.modal-content {
    background-color: #943432;
    color: #fdeaea;
}
.form-control {
    border: 1px solid #e7c3c3;
    border-radius: 0;
}
.btn {
    border: 1px solid #fdeaea;
    border-radius: 0;
}
.btn-default:hover, .btn-default:active:focus, .btn-default:active:hover {
    background-color: #ffffff;
    border-color: #fdeaea;
}
.description{
	background: #fff4f4;
	color: #2d2d2d;
	padding: 10px;
	text-align: justify;
}
.description p{
	padding: 5px 10px;
    border: 10px solid #c99a99;
}
.img-restaurant-left{
	width: 120px;
	float: left;
	margin-right: 7px;
	margin-top: 5px;
}
.img-restaurant-right{
	width: 120px;
	float: right;
	margin-left: 7px;
	margin-top: 5px;
}
#modalRest01, #modalRest02, #modalRest03{
	top: 70px;
}
.menu{
	background: #fff4f4;
    color: #2d2d2d;
    padding: 10px;
}
.container-menu{
	padding: 5px 10px;
    border: 1px solid #776454;
}
.jumbotron-menu{
	background-color: #c99a99;
    padding: 10px;
}
.panel{
	border-radius: 0;
	background-color: #fff4f4;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #c99a99;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-default>.panel-heading {
    background-color: #fff4f4;
}
.panel-title {
    font-size: 25px;
}
.panel-title>a, .panel-title>a:focus {
    text-decoration: none;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item {
    background-color: #fff4f4;
    border: 0;
}
a.list-group-item:focus {
    text-decoration: none;
    background-color: #fff4f4;
}
a.list-group-item:hover {
    text-decoration: underline;
    background-color: #fff4f4;
}
#map{
    height: 400px;
    width: 100%;
}
.contact{
	background: url("../img/footer02.jpeg")no-repeat center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 420px;
	overflow: hidden;
}

@media (min-width: 768px){
	.navbar {
	    border-radius: 0;
	}
}